/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define QWERTY_L 0
#define DVORAK_L 1
#define COLEMK_L 2
#define NAV_L    3
#define SYM_L    4
#define ADJ_L    5
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)

/ {
    combos {
        compatible = "zmk,combos";

        Layer3 {
            bindings = <&kt LG(L)>;
            key-positions = <38 45>;
        };

        tilde_a {
            bindings = <&tilde_a>;
            key-positions = <43 13>;
        };

        tilde_o {
            bindings = <&tilde_o>;
            key-positions = <43 9>;
        };

        f2 {
            bindings = <&kp F2>;
            key-positions = <27 40>;
        };

        cedilha2 {
            bindings = <&kp RA(COMMA)>;
            key-positions = <27 43>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <43 11>;
        };

        par {
            bindings = <&par>;
            key-positions = <40 16>;
        };

        brac {
            bindings = <&brac>;
            key-positions = <40 4>;
        };

        braces {
            bindings = <&brace>;
            key-positions = <40 1>;
        };

        ag {
            bindings = <&ag>;
            key-positions = <43 18>;
        };

        circ {
            bindings = <&circ>;
            key-positions = <43 33>;
        };

        enter2 {
            bindings = <&kp ENTER>;
            key-positions = <40 0>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <39 29>;
        };

        esc2 {
            bindings = <&kp ESCAPE>;
            key-positions = <44 32>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <40 39>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <40 41>;
        };

        p1 {
            bindings = <&p1>;
            key-positions = <30 41 40 39>;
        };

        p2 {
            bindings = <&p2>;
            key-positions = <0 12 24 41 40>;
        };

        LM {
            bindings = <&mkp MB1>;
            key-positions = <41 16>;
        };

        LM2 {
            bindings = <&mkp MB1>;
            key-positions = <41 17>;
        };

        RM {
            bindings = <&mkp MB2>;
            key-positions = <41 4>;
        };
    };

    macros {
        tilde_a: cedilha2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE>, <&macro_wait_time 1>, <&kp A>;

            label = "CEDILHA2";
        };

        tilde_o: tilde_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE>, <&macro_tap>, <&kp O>;

            label = "TILDE_O";
        };

        cao: cao {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(COMMA)>, <&macro_tap>, <&tilde_a>;

            label = "CAO";
        };

        circ: circ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET>, <&macro_tap>, <&kp E>;

            label = "CIRC";
        };

        ag: ag {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&macro_tap>, <&kp A>;

            label = "AG";
        };

        par: par {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_PARENTHESIS>,
                <&macro_tap>,
                <&kp RIGHT_PARENTHESIS>,
                <&macro_tap>,
                <&kp LEFT>;

            label = "PAR";
        };

        brac: brac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_BRACKET>,
                <&macro_tap>,
                <&kp RIGHT_BRACKET>,
                <&macro_tap>,
                <&kp LEFT_ARROW>;

            label = "BRAC";
        };

        brace: brace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_BRACE>,
                <&macro_tap>,
                <&kp RIGHT_BRACE>,
                <&macro_tap>,
                <&kp LEFT_ARROW>;

            label = "BRACE";
        };

        SQL: SQL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(S) &kp LS(E) &kp LS(L) &kp LS(E) &kp LS(C) &kp LS(T) &kp RET &kp STAR &kp RET &kp LS(F) &kp LS(R) &kp LS(O) &kp LS(M)>;
            label = "SQL";
        };

        comment: comment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(K) &kp LC(C)>;
            label = "comment";
        };

        uncomment: uncomment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(K) &kp LC(U)>;
            label = "UNCOMMENT";
        };

        p1: p1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp N2 &kp N9 &kp N0 &kp N9 &kp N1 &kp N9 &kp N6 &kp N7>,
                <&macro_press>;

            label = "P1";
            wait-ms = <1>;
            tap-ms = <1>;
        };

        a_top: a_top {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &kp A &kp T>;
            label = "A_TOP";
        };

        a_bottom: a_bottom {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &kp A &kp B>;
            label = "A_BOTTOM";
        };

        a_left: a_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &kp A &kp L>;
            label = "A_LEFT";
        };

        a_right: a_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &kp A &kp R>, <&macro_press>;

            label = "A_RIGHT";
        };

        a_middle: a_middle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &kp A &kp M>;
            label = "A_MIDDLE";
        };

        a_center: a_center {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &kp A &kp C>;
            label = "A_CENTER";
        };

        d_vert: d_vert {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &kp A &kp V>;
            label = "D_VERT";
        };

        d_hor: d_hor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &kp A &kp H>;
            label = "D_HOR";
        };

        p2: p2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp UNDER &kp LS(P) &kp C &kp X &kp G &kp H &kp LS(S) &kp N1 &kp N2 &kp N8 &kp N0>;
            label = "P2";
            wait-ms = <1>;
            tap-ms = <1>;
        };

        xl_an: xl_an {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(NUMBER_2) &kp A &kp N>;
            label = "XL_AN";
        };
    };

    behaviors {
        d_fix: d_fix {
            compatible = "zmk,behavior-tap-dance";
            label = "D_FIX";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp D>, <&kp D>, <&kp D>;

            tapping-term-ms = <250>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
 * | CTRL  |   Z   |   X   |   C   |   V   |   B   |  ESC  |-------------------|  CAPS |   N   |   M   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */
                        bindings = <
&kp  GRAVE    &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                                                         &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  BSPC
&kp  TAB      &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                                                         &kp  H        &kp  J        &kp  K        &kp  L        &kp  SEMI     &kp  ENTER  
&kp  LCTRL    &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &kp  ESC                                           &caps_word    &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  SLASH    &kp  SQT
                                                        &kp  LGUI     &kp  LALT     &kp  LSHIFT    &mo  NAV_L            &mo  SYM_L    &kp  SPACE    &kp  LALT     &kp  RGUI
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
		
                dvorak_layer {
/* DVORAK
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   '   |   ,   |   .   |   P   |   Y   |-----------------------------------|   F   |   G   |   C   |   R   |   L   | BKSPC |
 * | TAB   |   A   |   O   |   E   |   U   |   I   |-----------------------------------|   D   |   H   |   T   |   N   |   S   | ENTER |
 * | CTRL  |   ;   |   Q   |   J   |   K   |   X   |  ESC  |-------------------| CAPS  |   B   |   M   |   W   |   V   |   Z   |   /   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */
                        bindings = <
&kp  GRAVE    &kp  SQT      &kp  COMMA    &kp  DOT      &kp  P        &kp  Y                                                                         &kp  F        &kp  G        &kp  C        &kp  R        &kp  L        &kp  BSPC
&kp  TAB      &kp  A        &kp  O        &kp  E        &kp  U        &kp  I                                                                         &kp  D        &kp  H        &kp  T        &kp  N        &kp  S        &kp  ENTER
&kp  LCTRL    &kp  SEMI     &kp  Q        &kp  J        &kp  K        &kp  X        &kp  ESC                                           &caps_word    &kp  B        &kp  M        &kp  W        &kp  V        &kp  Z        &kp  SLASH
                                                        &kp  LGUI     &kp  LALT     &kp  LSHIFT    &mo  NAV_L            &mo  SYM_L    &kp  SPACE    &kp  LALT     &kp  RGUI
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
		
                colemak_layer {
/* COLEMAK-DH
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   F   |   P   |   B   |-----------------------------------|   J   |   L   |   U   |   Y   |   ;   | BKSPC |
 * | TAB   |   A   |   R   |   S   |   T   |   G   |-----------------------------------|   M   |   N   |   E   |   I   |   O   | ENTER |
 * | CTRL  |   Z   |   X   |   C   |   D   |   V   |  ESC  |-------------------| CAPS  |   K   |   H   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */
                        bindings = <
&kp  GRAVE    &kp  Q        &kp  W        &kp  F        &kp  P        &kp  B                                                                         &kp  J        &kp  L        &kp  U        &kp  Y        &kp  SEMI     &kp  BSPC
&kp  TAB      &kp  A        &kp  R        &kp  S        &kp  T        &kp  G                                                                         &kp  M        &kp  N        &kp  E        &kp  I        &kp  O        &kp  ENTER
&kp  LCTRL    &kp  Z        &kp  X        &kp  C        &kp  D        &kp  V        &kp   ESC                                          &caps_word    &kp  K        &kp  H        &kp  COMMA    &kp  DOT      &kp  SLASH    &kp  SQT
                                                        &kp  LGUI     &kp  LALT     &kp  LSHIFT    &mo  NAV_L            &mo  SYM_L    &kp  SPACE    &kp  LALT     &kp  RGUI
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
		
                nav_layer {
/* NAV   
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | Copy  |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   | BSPC  |
 * | Cut   |  GUI  |  Alt  | Ctrl  | Shift | Paste |-----------------------------------| PG UP |  Left |  Up   |  Down | Right | PG DN |
 * | Ctrl  |  F1   |  F2   |  F3   |  F4   |  F5   |  UnDo |-------------------| ReDo  |  F6   |  F7   |  F8   |  F9   |  F10  | Ctrl  |
 *                                 |       |       |       |       |---| ADJ_L |       |       |       |
 */

            bindings = <
&mo 4   &none   &kp LS(LC(GREATER_THAN))  &kp LA(NUMBER_3)  &kp LA(NUMBER_2)  &kp LA(NUMBER_1)                                    &none       &none           &SQL   &none   &none  &tog 3
&trans  &trans  &kp LC(LS(LESS_THAN))     &kp LA(NUMBER_6)  &kp LA(NUMBER_5)  &kp LA(NUMBER_4)                                    &uncomment  &comment        &none  &none   &none  &tog 2
&trans  &trans  &none                     &kp LA(NUMBER_9)  &kp LA(NUMBER_8)  &kp LA(NUMBER_7)  &trans                    &none   &none       &none           &none  &trans  &none  &to 0
                                                            &none             &trans            &trans  &trans    &trans  &trans  &trans      &bt BT_CLR_ALL
            >;
        };

        layer3 {
            /* COLEMAK-DH
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   F   |   P   |   B   |-----------------------------------|   J   |   L   |   U   |   Y   |   ;   | BKSPC |
 * | TAB   |   A   |   R   |   S   |   T   |   G   |-----------------------------------|   M   |   N   |   E   |   I   |   O   | ENTER |
 * | CTRL  |   Z   |   X   |   C   |   D   |   V   |  ESC  |-------------------| CAPS  |   K   |   H   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */

            bindings = <
&trans  &none     &kp F2  &kp F4         &kp F5   &none                                               &kp BACKSLASH  &none           &kp UP_ARROW    &none            &none  &kp ENTER
&trans  &tilde_a  &xl_an  &kp F9         &kp F12  &none                                               &kp GRAVE      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none  &kp PAGE_UP
&trans  &none     &cao    &kp RA(COMMA)  &none    &none   &kp KP_NUMLOCK                    &kp CAPS  &none          &kp CARET       &kp TILDE       &none            &none  &kp PAGE_DOWN
                                         &none    &trans  &trans          &trans    &trans  &trans    &trans         &none
            >;

            sensor-bindings =
                <&inc_dec_kp LC(EQUAL) LC(MINUS)>,
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        fn {
            /* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | QWERTY| DVORAK| COLEMK|       |       |-----------------------------------|       |  F11  |  F12  |Prt Scr|EP_OFF | EP_ON |
 * | RESET | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------|       |       |       |       |       | RESET |
 * |       | LGUI  | LALT  | LCTRL | LSHIFT|       |BT CLR |-------------------|       |       |       |OUT_USB|OUT_BLE|       | BOOTL |
 *                                 |       |       |       |       |---|       |       |       |       |
 */
                        bindings = <
&none         &to  QWERTY_L &to  DVORAK_L &to  COLEMK_L &none         &none                                                                             &none             &kp   F11          &kp   F12  &kp PRINTSCREEN   &ext_power EP_OFF  &ext_power EP_ON
&sys_reset    &bt  BT_SEL 0 &bt  BT_SEL 1 &bt  BT_SEL 2 &bt  BT_SEL 3 &bt  BT_SEL 4                                                                     &none             &none              &none            &none          &none           &sys_reset
&none         &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp LSHIFT    &none         &bt BT_CLR                                         &none            &none             &none              &out  OUT_USB    &out  OUT_BLE  &none           &bootloader
                                                        &trans        &trans        &trans        &trans                 &trans        &trans           &trans            &trans 
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
        };
};
